{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Room Detail</title>
    <script src="{https://kit.fontawesome.com/692189991f.js}" crossorigin="anonymous"></script>
    <title> details</title>
    <!-- Main StyleSheet -->
    <link rel="stylesheet" href="{% static 'core/css/detail.css' %}">

</head>

<body>

    <!-- Main Content -->
    <div class="content">

        <!-- Room Image -->
        <div class="image">
            <img
                src="https://images.unsplash.com/photo-1519710164239-da123dc03ef4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
        </div>

        <!-- Room Details -->
        <div class="room">

            <!-- Div 1: Back to Home -->
            <div class="home">
                <a href="{% url 'core:RoomList' %}"><i class="fas fa-arrow-alt-circle-left">Home</i></a>
            </div>

            <!-- Div 2: Room Information -->
            <div class="room-info">
                <h1>{{room_category}}</h1>
                <p>thank you for choosing <strong>{{booking.room.get_room_category}}</strong> package, your details is as follows:</p> </p>
            </div>

            <!-- Div 3: Room Booking Form -->
            <form id="booking-form" action="" method="POST">

                {% csrf_token %} 
                 <!-- Input Div -->
                <h3> Room Category : <strong>{{booking.get_room_category}}</strong> reservation<br> Room number :<strong>{{booking.room.no}}</strong>  <br>scheduled for :<br><strong>{{booking.check_in}}</strong>  to<strong> {{booking.check_out}}</strong></h3>
                
                <div class="input-div">
                    <button type="submit"> cancel reservation</button>
                </div>

            </form>


        </div> <!-- END Room Div -->


    </div> <!-- END Main Content Div -->

</body>

</html>