{% load static %}

<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
   

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hotelina</title>
    <!-- Main StyleSheet -->
    <link rel="stylesheet" href="{% static 'core/css/home.css'%}">
</head>

<body>
    <!-- Brand -->
    <h1 id="brand">Orion Hotels</h1>

    <!-- Main Content -->
    <div class="content">
        {% for room_category, room_url in room_list %}
        <div class="room">
            <a href="{{room_url}}">
                <img
                    src="https://images.unsplash.com/photo-1519710164239-da123dc03ef4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">

                <h2>{{room_category}} suite</h2>
                <p>check this amazing offer on thi room with amazing discounts.
                    on this amazing {{room_category}} suite package</p>
            </a>
        
        </div>
           
           
            {% endfor %}
        
        
    </div>
</body>

</html>